# Dependencies
server/node_modules/
server/*.db
server/*.db-shm
server/*.db-wal

# Build output
*.log
dist/
/manifest.json
/manifest.firefox.json

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
